@layer base {
    :root {
        --fs-400: 16px;
        --fs-500: 1.25em;
        --fs-600: 1.563em;
        --fs-700: 1.953em;
        --fs-800: 2.441em;
        --fs-900: 3.052em;
    }

    :root {
        --spacing-050: 0.125rem;
        --spacing-100: 0.25rem;
        --spacing-150: 0.5rem;
        --spacing-200: 0.75rem;
        --spacing-250: 1rem;
        --spacing-300: 1.5rem;
        --spacing-400: 2rem;
        --spacing-450: 2.5rem;
        --spacing-500: 3.5rem;
        --spacing-600: 5rem;
        --spacing-700: 7rem;
        --spacing-800: 10rem;
    }

    :root {
        --black-400: hsl(0deg 0% 0%);
        --white-400: hsl(0deg 0% 95%);
        --gray-400: hsl(222deg 25% 50%);
        --gray-300: hsl(222deg 25% 82%);
        --gray-500: hsl(222deg 25% 18%);
        --gray-gradient: rgba(from var(--gray-300), 50%), #fff;

        --blue-400: #2337ff;
        --blue-500: #000d8a;
        --red-400: #ff0000;
    }
    :root {
        color-scheme: light dark;

        --color-bg: light-dark(var(--white-400), var(--black-400));
        --color-text: light-dark(var(--black-400), var(--white-400));

        --accent: light-dark(var(--blue-400), var(--white-400));
        --accent-dark: light-dark(var(--blue-500), var(--white-400));

        --box-shadow: 0 2px 6px rgba(from var(--gray-400), 25%), 0 8px 24px rgba(from var(--gray-400), 33%),
            0 16px 32px rgba(from var(--gray-400), 33%);

        --color-border: light-dark(var(--gray-300), var(--gray-500));
        --color-code-bg: light-dark(var(--gray-300), var(--red-400));

        /* HACK: */
        color-scheme: dark;
    }

    body.light {
        color-scheme: light;
    }

    body.dark {
        color-scheme: dark;
    }
}
