---
import { getCollection } from 'astro:content';
import BaseHead from '@/components/BaseHead.astro';
import Header from '@/components/Header.astro';
import Footer from '@/components/Footer.astro';
import HeroSection from '@/components/HeroSection.astro';
import HeroImage from '@/components/HeroImage.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../constants';

const heroSections = await getCollection('hero')
const sortedHeroSections = heroSections.toSorted((a,b) => a.id.localeCompare(b.id));
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<HeroImage />

			{sortedHeroSections.map((section) => (
				<div class="section-container">
					<HeroSection section={section} />
				</div>
			))}
		</main>
		<Footer />
	</body>
</html>

<style>
	.section-container {
		margin-block-start: 2lh;
	}
</style>
