---
const today = new Date();
---

<footer>
	<div>info@plausiblestudios.com</div>
	<div>&copy; {today.getFullYear()} Your name here. All rights reserved.</div>
</footer>
<style>
	footer {
		padding-inline: 1em;
		padding-block: 2em 6em;
		color: hsl(from var(--color-text) h s l / 0.6);
		text-align: center;
	}
</style>
